#header
  background: url("../img/heroBackground.jpg") no-repeat
  background-size: cover
  height: 800px
  text-align: center
  overflow: hidden

  article
    width: 60%
    margin: 0 auto

  h1
    color: white
    margin-bottom: 10px
  p
    color: white

  img
    height: auto
    width: 80%

#brands ul
  padding: 20px 0
  background: white
  display: grid
  grid-template-columns: repeat(6, auto)
  @media only screen and (max-width: 550px)
    grid-template-columns: repeat(3, auto)

  li
    list-style: none
  li img
    width: 100%
