#discount
  margin-top: 35px
  @media only screen and (max-width: 833px)
    margin-top: 640px
  @media only screen and (max-width: 680px)
      margin-top: -390px


.discount-layout
  display: flex
  align-items: center
  justify-content: center

  @media only screen and (max-width: 680px)
    display: block

  img
    height: auto
    width: 40%
    @media only screen and (max-width: 680px)
      height: auto
      width: 80%
      padding-left: 45px


.offer
  width: 40%
  margin: 0
  padding-left: 40px
  @media only screen and (max-width: 1000px)
    margin-bottom: 80px
  @media only screen and (max-width: 680px)
    width: 100%
    text-align: center
    margin-bottom: 0px
    padding-left: 0

  .offer .button
    background-color: rgb(0,158,253)
    background-color: linear-gradient(132deg, rgba(0,158,253,1) 0%, rgba(21,201,203,1) 52%, rgba(42,245,152,1) 100%)
